:root{
    --primario: #e1b12c;
    --primarioClaro: #fbc531;
    --secundario: #273c75;
    --secundarioOscuro: #192a56;
    --secundarioClaro: #40739e;
    --terciario: #b71540;
    --manos: #fad390;
    --stylePrimary: 'Reggae One', cursive;
}
html {
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: var(--primario);
    font-family: var(--stylePrimary);
}

/* UTILIDADES */
.contenedor{
    max-width: 90%;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .contenedor{
        max-width: 70%;
    }
}
.btn{
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    box-shadow: 0px 3px 5px 4px rgba(0,0,0,0.5);
    transition: .5s;
}
.btn-primario{
    background-color: var(--terciario);
    color: var(--secundarioOscuro);
    border: 1px solid var(--secundario);
}
.btn-primario:hover{
    background-color: var(--secundarioOscuro);
    color: var(--terciario);
    border-color: var(--terciario);
}

/* HEADER */
.navegacion h1{
    color: var(--secundario);
    font-size: 2rem;
    font-weight: 900;
}
@media (min-width: 768px) {
    .navegacion h1{
        font-size: 2.5rem;
    }
}
/* CONTADOR */
.contador{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    font-size: 2rem;
    font-weight: 700;
    border: 3px solid var(--secundarioOscuro);
    border-radius: 1rem;
    padding: 1rem;
    color: var(--secundarioClaro);
    height: 8vh;
}
@media (min-width: 768px) {
    .contador{
        font-size: 3rem;
    }
}
.contador .jugador{
    display: flex;
}
.contador .jugador p{
    margin-right: 2rem;
}
.contador .jugador p:last-of-type{
    margin: 0;
}
.contador p{
    margin: 0;
}
/* JUEGO */
.tablero{
    height: 60vh;
    display: grid;
    grid: repeat(3, 1fr) / 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
}
.jugador1{
    grid-column: 1;
    grid-row: 1;
    font-size: 5rem;
    color: var(--manos);
}
.versus{
    grid-column: 2;
    grid-row: 2;
    font-size: 8rem;
    margin: 0;
    color: var(--terciario);
}
.jugador2{
    grid-column: 3;
    grid-row: 3;
    font-size: 4rem;
    color: var(--manos);
}
@media (min-width: 768px) {
    .jugador1,
    .jugador2{
        font-size: 10rem;
    }
    .versus{
        font-size: 15rem;
    }
}

/* OPCIONES */
.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    border: 1px solid var(--terciario);
    border-radius: 1rem;
}
@media (min-width: 768px) {
    .opciones{
        height: 20vh;
    }
}
.contenido-opciones{
    font-size: 5rem;
    color: var(--manos);
    width: 100%;
    text-align: center;
    border-right: 1px solid var(--terciario);
}
.contenido-opciones:last-of-type{
    border: none;
}
@media (min-width: 768px) {
    .contenido-opciones{
        font-size: 10rem;
    }
}
.contenido-opciones i{
    transition: .5s;
}
.contenido-opciones i:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #e2c085;
}

/* GANADOR */
.ganador{
    display: block;
    position: fixed;
    bottom: 30%;
    left: 10%;
    right: auto;
    height: 35vh;
    width: 80vw;
    padding: 2rem;
    border: 1px solid var(--secundarioOscuro);
    -webkit-box-shadow: 6px 7px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 18px -4px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 18px -4px rgba(0,0,0,0.75);
    border-radius: 2rem;
    background-color: rgba(25, 42, 86, .9);
    text-align: center;
    display: none;
}
@media (min-width: 768px) {
    .ganador{
        width: 30%;
        left: 35%;
        height: 25vh;
        bottom: 40%;
    }
}
.ganador p{
    font-size: 2rem;
    color: var(--primario);
}
.ganador h2{
    font-size: 2.5rem;
    color: var(--terciario);
}